/* Add styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto+Slab:wght@300;600&display=swap');

body {
  margin: 0;
  background-color: #f5f6fa;
}

.app {
  background-color: #f5f6fa;
}

.nav {
  display: flex;
  padding: 1rem;
  background-color: white;
}

.nav a {
  text-decoration: none;
  line-height: 1.875rem;
  margin: 1rem;
  font-family: 'Monserat', sans-serif;
}

.navbar-brand {
  color: #0290ff;
  font-size: 1.875rem;
  font-weight: bold;
}

.nav-link {
  color: black;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
}

.disabled {
  color: gray;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.select {
  margin: 1rem 3rem;
  width: 100%;
  max-width: 12ch;
  border: 1px solid black;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.title {
  margin: 1rem 3rem;
  width: 100%;
  max-width: 20ch;
  border: 1px solid black;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.book-category {
  font-size: 0.875rem;
  font-family: 'Monserat', sans-serif;
  font-weight: bold;
  color: #888;
}

.book-title {
  font-size: 1.375rem;
  font-family: 'Roboto Slab', serif;
  font-weight: bolder;
}

.book-info {
  font-size: 0.875rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #4386bf;
}

.text-black {
  color: black;
}
